/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.Anchorpane{
	
	-fx-background-color:#090a0c;
}


#pp{
	
	 -fx-background-color:#090a0c,
	linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
	linear-gradient(#20262b, #191d22),
	radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9),rgba(255,255,255,0));	
	-fx-background-radius: 5,4,3,5;
	-fx-background-insets: 0,1,2,0;
	-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.6), 5,0.0,0,1);
	-fx-font-family:"Arial";
	-fx-font: bold 16px System;
	-fx-padding: 10px 15px;
	-fx-background-radius: 24px;
	-fx-background-position: center center;
	
	-fx-cursor: hand;
	-fx-text-fill: #FFFFFF;
}


.button{
	
		-fx-padding: 10px 15px;
        -fx-color: #FFFFFF;
        -fx-background-color: #4CC27B;
        -fx-font: bold 14px System;
        -fx-font-family:"Arial";
        -fx-border-radius:15px;
        -fx-background-radius: 8px;
        -fx-cursor: pointer;
		-fx-cursor: hand;
}
.titled-pane:focused > .title > .arrow-button .arrow {
    /* do not highlight the title pane arrow on focus */
    -fx-background-color: #606060;
}
