.titled-pane{
	
	-fx-background-color:#090a0c,
	linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
	linear-gradient(#20262b, #191d22),
	radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9),rgba(255,255,255,0));	
	-fx-background-radius: 5,4,3,5;
	-fx-background-insets: 0,1,2,0;
	-fx-text-fill:#505050;
	-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.6), 5,0.0,0,1);
	-fx-font-family:"Arial";
	-fx-font-size:16px;
	-fx-font: bold 14px System;
	-fx-padding: 10 20 10 20;
	-fx-background-radius: 15px;
	-fx-background-position: center center;
	-fx-pref-width: 1366.0;
	-fx-pref-height: 400.0;
}

.button{
	
	-fx-background-color:#090a0c,
	linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
	linear-gradient(#20262b, #191d22),
	radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9),rgba(255,255,255,0));	
	-fx-background-radius: 5,4,3,5;
	-fx-background-insets: 0,1,2,0;
	-fx-text-fill:#D8D8D8;
	-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.6), 5,0.0,0,1);
	-fx-font-family:"Arial";
	-fx-font-size:16px;
	-fx-font: bold 14px System;
	-fx-padding: 10 20 10 20;
	-fx-background-radius: 15px;
	-fx-background-position: center center;
	
}
.titled-pane:focused > .title > .arrow-button .arrow {
    /* do not highlight the title pane arrow on focus */
    -fx-background-color: #606060;
}